[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu118"
verify_ssl = true
name = "pytorch-cu118"

[packages]
scikit-learn = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
torch = {version = "*", index = "pytorch-cu118"}
torchvision = {version = "*", index = "pytorch-cu118"}
torchaudio = {version = "*", index = "pytorch-cu118"}

[dev-packages]

[requires]
python_version = "3.11"
